.quizdb-md {
  padding-bottom: 3em;
  font-size: 1.2rem;
  line-height: 1.5rem; }
  .quizdb-md h1 {
    font-size: 3rem; }
  .quizdb-md h2 {
    font-size: 2rem; }
  .quizdb-md h3 {
    font-size: 1.4rem; }
  .quizdb-md li {
    padding: 0.3rem 0rem; }
  .quizdb-md .anchor {
    margin-top: -4.5rem;
    padding-bottom: 3rem; }

@font-face {
  font-family: IkarosRegular;
  src: url("/fonts/Ikaros-Sans/Ikaros-Regular.otf"); }

.navbar {
  position: fixed;
  z-index: 100;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  padding: 2rem 0rem 1.4rem 0rem; }
  .navbar > .ui.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .navbar-brand {
    font-family: 'IkarosRegular';
    font-size: 6rem;
    font-weight: bold; }
    .navbar-brand:hover {
      cursor: pointer;
      color: #2185d0; }
    .navbar-brand img {
      width: 75px;
      height: 60px; }
  .navbar-links {
    font-size: 3rem;
    font-weight: bold; }
    .navbar-links .navbar-link:hover {
      cursor: pointer;
      color: #2185d0; }
    .navbar-links i.icon {
      vertical-align: baseline !important; }
  .navbar.mobile {
    padding: 1.6rem 0rem 1.2rem 0rem; }
    .navbar.mobile .navbar-brand {
      font-family: 'IkarosRegular';
      font-size: 2.5rem;
      font-weight: bold; }
      .navbar.mobile .navbar-brand img {
        width: 30px;
        height: 25px; }
    .navbar.mobile .navbar-links i.icon {
      font-size: 1em; }
    .navbar.mobile.shrink {
      padding: 0.8rem 0rem 0.4rem 0rem; }
      .navbar.mobile.shrink .navbar-brand {
        font-family: 'IkarosRegular';
        font-size: 2.4rem;
        font-weight: normal; }
        .navbar.mobile.shrink .navbar-brand img {
          width: 27px;
          height: 23px; }
      .navbar.mobile.shrink .navbar-links i.icon {
        font-size: 0.7em; }
  .navbar.shrink {
    padding: 1.3rem 0rem 1rem 0rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); }
    .navbar.shrink .navbar-brand {
      font-size: 3rem;
      font-weight: normal;
      -webkit-transition: all .1s linear;
      transition: all .1s linear; }
      .navbar.shrink .navbar-brand img {
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
        width: 40px;
        height: 30px; }
    .navbar.shrink .navbar-links i.icon {
      font-size: 1em; }
  .navbar ~ * .quizdb-page {
    padding-top: 9.5rem; }
  .navbar.mobile ~ * .quizdb-page {
    padding-top: 6.5rem; }

.quizdb-sidebar-close:hover {
  cursor: pointer;
  color: #2185d0; }

.quizdb-sidebar .item > a:hover {
  cursor: pointer !important;
  color: #2185d0 !important; }

#root {
  min-height: 100%;
  margin-bottom: -3em; }

#root:after {
  content: "";
  display: block; }

footer, #root:after {
  height: 3em; }

footer.quizdb-footer {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2); }
  footer.quizdb-footer .footer-item {
    line-height: 2.5em; }

.question {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.question-info-toggle {
  cursor: pointer; }
  .question-info-toggle:hover {
    color: #2185d0; }

.question-info-show, .question-info-hide {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center; }

.ui.segment:first-child.question-info-segment {
  margin: 0.5rem 0.5rem; }

.ui.segment.question-info {
  padding: 0.5rem; }

.ui.segment.question-info-segment {
  padding: 0;
  margin: 0.5rem 0.5rem; }

.ui.label.question-info-label {
  position: relative !important;
  padding: 0.5rem 0.5rem !important; }

.ui.top.attached.label:first-child + .question-info-text:not(.attached) {
  margin: 0 !important;
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
  text-align: center; }

.ui.segments > .question-content > .segment {
  top: 0px;
  bottom: 0px;
  border-radius: 0px;
  margin: 0em;
  width: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.15); }

.ui.segments .question-content .segment {
  font-size: 1.2rem;
  line-height: 2rem; }

.question-hidden-answer {
  position: fixed;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  color: white; }
  .question-hidden-answer:focus {
    background: transparent;
    color: white; }

.ui.grid > .question-icons {
  padding: 0px 0px 10px 0px !important; }

.icon-clickable {
  cursor: pointer; }
  .icon-clickable:hover {
    color: #2185d0; }

.ui.grid .column.search-dropdown-column {
  padding: 0.5rem !important; }

.ui.segment.search-dropdown {
  padding: 8px; }

.ui.button.search-search_button {
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  border-right: rgba(34, 36, 38, 0.15);
  border-right-style: solid;
  border-right-width: 1px; }

.ui.selection.dropdown.search-random_button {
  font-size: 1.42857143rem;
  padding: 0.75em 1em 0.678571em 0.75em;
  min-height: 1em;
  line-height: 1.21428571em;
  min-width: 6.4em;
  border-radius: 0em 0.28571429rem 0.28571429rem 0em;
  border: none;
  border-left: none;
  text-align: left;
  font-weight: bold;
  background: #E0E1E2 none; }
  .ui.selection.dropdown.search-random_button:hover {
    background-color: #CACBCD; }
    .ui.selection.dropdown.search-random_button:hover > .text {
      color: rgba(0, 0, 0, 0.8) !important; }
  .ui.selection.dropdown.search-random_button > .text {
    color: rgba(0, 0, 0, 0.6) !important; }

.ui.dropdown .menu > .item.search-dropdown-header,
.ui.dropdown .menu > .item.search-dropdown-header.selected {
  opacity: 1 !important;
  cursor: text !important;
  color: rgba(0, 0, 0, 0.95) !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  background: rgba(0, 0, 0, 0.2); }
  .ui.dropdown .menu > .item.search-dropdown-header:hover,
  .ui.dropdown .menu > .item.search-dropdown-header.selected:hover {
    background: rgba(0, 0, 0, 0.2); }

.modal.error-modal .close.icon {
  font-size: 2em;
  color: gray; }
  .modal.error-modal .close.icon:hover {
    color: black; }

.modal.error-modal .row.error-type-choice {
  padding: 0.5rem 0rem; }

.modal.error-modal .error-modal-description {
  width: 100%; }

.ui.button.error-modal-trigger {
  max-width: 5rem;
  padding: 0.6em; }
