.quizdb-md {
  padding: 1.5rem 5rem 15rem 5rem;
  background: white;
  font-size: 1.2rem;
  line-height: 1.5rem; }
  @media screen and (max-width: 768px) {
    .quizdb-md {
      padding-left: 2rem;
      padding-right: 2rem; } }
  .quizdb-md h1 {
    font-size: 3rem; }
  .quizdb-md h2 {
    font-size: 2rem; }
  .quizdb-md h3 {
    font-size: 1.4rem; }
  .quizdb-md li {
    padding: 0.3rem 0rem; }
  .quizdb-md .anchor {
    margin-top: -3rem;
    padding-bottom: 3rem; }

@font-face {
  font-family: IkarosRegular;
  src: url("/fonts/Ikaros-Sans/Ikaros-Regular.otf"); }

.navbar {
  position: fixed;
  z-index: 100;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  padding: 2rem 0rem 1.4rem 0rem;
  border-bottom: 1px solid #D4D4D5; }
  .navbar > .ui.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .navbar-brand {
    font-family: 'IkarosRegular';
    font-size: 6rem;
    font-weight: bold; }
    .navbar-brand:hover {
      cursor: pointer;
      color: #2185d0; }
    .navbar-brand img {
      width: 75px;
      height: 60px; }
    .navbar-brand-subtext {
      font-size: 1.8rem;
      font-style: italic; }
  .navbar-links {
    font-size: 3rem;
    font-weight: bold; }
    .navbar-links .navbar-link:hover {
      cursor: pointer;
      color: #2185d0; }
    .navbar-links i.icon {
      vertical-align: baseline !important; }
  .navbar.mobile {
    padding: 1.6rem 0rem 1.2rem 0rem; }
    .navbar.mobile .navbar-brand {
      font-family: 'IkarosRegular';
      font-size: 2.5rem;
      font-weight: bold; }
      .navbar.mobile .navbar-brand img {
        width: 30px;
        height: 25px; }
      .navbar.mobile .navbar-brand-subtext {
        display: none; }
    .navbar.mobile .navbar-links i.icon {
      font-size: 1em; }
    .navbar.mobile.shrink {
      padding: 0.8rem 0rem 0.4rem 0rem; }
      .navbar.mobile.shrink .navbar-brand {
        font-family: 'IkarosRegular';
        font-size: 2.4rem;
        font-weight: normal; }
        .navbar.mobile.shrink .navbar-brand img {
          width: 27px;
          height: 23px; }
      .navbar.mobile.shrink .navbar-links i.icon {
        font-size: 0.7em; }
  .navbar.shrink {
    padding: 1.3rem 0rem 1rem 0rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .navbar.shrink.hide {
      opacity: 0; }
    .navbar.shrink .navbar-brand {
      font-size: 3rem;
      font-weight: normal;
      -webkit-transition: all .3s linear;
      transition: all .3s linear; }
      .navbar.shrink .navbar-brand img {
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
        width: 40px;
        height: 30px; }
    .navbar.shrink .navbar-links i.icon {
      font-size: 1em; }
  .navbar ~ * .quizdb-page {
    padding-top: 12rem; }
  .navbar.mobile ~ * .quizdb-page {
    padding-top: 9rem; }

.ui.inverted.menu.quizdb-sidebar-close:hover {
  cursor: pointer;
  color: #2185d0; }

.ui.inverted.menu.quizdb-sidebar .item > a:hover {
  cursor: pointer !important;
  color: #2185d0 !important; }

.ui.inverted.menu.quizdb-sidebar > a.item:hover {
  color: #2185d0; }

.root-credits {
  padding: 2rem 0;
  margin: 2rem 0;
  border-radius: 0.3rem;
  border: 1px solid #D4D4D5;
  background: white; }
  .root-credits > div.container {
    display: flex;
    flex-direction: column;
    align-items: center; }

#root {
  min-height: 100%;
  margin-bottom: -3em;
  background: aliceblue; }

#root:after {
  content: "";
  display: block; }

footer, #root:after {
  height: 3em; }

footer.quizdb-footer {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2); }
  footer.quizdb-footer .footer-item {
    line-height: 2.5em; }

.question-loader {
  padding-bottom: 5rem; }

.question-container {
  padding: 0 0 5rem 0; }

.question {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.question-info-toggle {
  cursor: pointer; }
  .question-info-toggle:hover {
    color: #2185d0; }

.question-info-show {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center; }

.question-info-skinny {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.question-info-hide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 3;
  padding: 0 0.7rem;
  cursor: pointer; }

.ui.segment:first-child.question-info-segment {
  margin: 0.5rem 0.5rem; }

.ui.segment:last-child.question-info-segment {
  margin-bottom: auto; }

.ui.segment.question-info {
  padding: 0.5rem; }

.ui.segment.question-info-segment {
  padding: 0;
  margin: 0.5rem 0.5rem; }

.ui.label.question-info-label {
  position: relative !important;
  padding: 0.5rem 0.5rem !important; }

.ui.top.attached.label:first-child + .question-info-text:not(.attached) {
  margin: 0 !important;
  max-width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
  text-align: center; }

.ui.segments > .question-content > .segment {
  top: 0px;
  bottom: 0px;
  border-radius: 0px;
  margin: 0em;
  width: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.15); }

.ui.segments .question-content .segment, .ui.segments .question-content .segment p {
  font-size: 1.2rem;
  line-height: 1.8rem; }

.question-highlight {
  background-color: #ff0; }

.question-hidden-answer {
  position: fixed;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  color: aliceblue; }
  .question-hidden-answer:focus {
    background: transparent;
    color: aliceblue; }

.ui.grid > .question-icons {
  padding: 0px 0px 10px 0px !important; }

.icon-clickable {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87); }
  .icon-clickable:hover {
    color: #2185d0; }

.ui.grid.search-input {
  padding: 1.2rem 0 1.2rem 0; }

.ui.grid .column.search-dropdown-column {
  padding: 0.5rem !important; }

.ui.segment.search-dropdown {
  padding: 8px; }

.ui.button.search-search_button {
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  border-right: rgba(34, 36, 38, 0.15);
  border-right-style: solid;
  border-right-width: 1px; }

.ui.selection.dropdown.search-random_button {
  font-size: 1.42857143rem;
  padding: 0.75em 1em 0.678571em 0.75em;
  min-height: 1em;
  line-height: 1.21428571em;
  min-width: 6.4em;
  border-radius: 0em 0.28571429rem 0.28571429rem 0em;
  border: none;
  border-left: none;
  text-align: left;
  font-weight: bold;
  background: #E0E1E2 none; }
  .ui.selection.dropdown.search-random_button:hover {
    background-color: #CACBCD; }
    .ui.selection.dropdown.search-random_button:hover > .text {
      color: rgba(0, 0, 0, 0.8) !important; }
  .ui.selection.dropdown.search-random_button > .text {
    color: rgba(0, 0, 0, 0.6) !important; }

.ui.dropdown .menu > .item.search-dropdown-header,
.ui.dropdown .menu > .item.search-dropdown-header.selected {
  opacity: 1 !important;
  cursor: text !important;
  color: rgba(0, 0, 0, 0.95) !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  background: rgba(0, 0, 0, 0.2); }
  .ui.dropdown .menu > .item.search-dropdown-header:hover,
  .ui.dropdown .menu > .item.search-dropdown-header.selected:hover {
    background: rgba(0, 0, 0, 0.2); }

.modal.error-modal .close.icon {
  font-size: 2em;
  color: gray; }
  .modal.error-modal .close.icon:hover {
    color: black; }

.modal.error-modal .row.error-type-choice {
  padding: 0.5rem 0rem; }

.modal.error-modal .error-modal-description {
  width: 100%; }

.ui.button.error-modal-trigger {
  max-width: 5rem;
  padding: 0.6em; }
  .ui.button.error-modal-trigger.short {
    max-width: 10rem;
    font-size: 0.7rem;
    float: right;
    margin-top: 0.2rem; }

.stats-text {
  padding: 2rem 0; }
  .stats-text-header .icon {
    color: red; }
  .stats-text-table {
    max-height: 20rem;
    overflow-y: auto; }

.quizdb-stats {
  padding-bottom: 5rem; }

.stats-bar_charts {
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0; }
  .stats-bar_charts .stats-bar_chart {
    height: 100%;
    width: 50%;
    padding: 1.2rem 0; }
  @media (max-width: 767px) {
    .stats-bar_charts {
      height: 50rem; }
      .stats-bar_charts .stats-bar_chart {
        height: 50%;
        width: 100%;
        padding: 2.4rem 0 5.2rem 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .stats-bar_charts {
      height: 45rem; }
      .stats-bar_charts .stats-bar_chart {
        height: 50%;
        width: 100%;
        padding: 2.4rem 0; } }

.quizdb-settings {
  padding: 1.5rem 0rem 15rem 0rem; }
