@import "./variables.scss";

#root {
  min-height: 100%;
  margin-bottom: -3em;
  background: $primary-background;
}

#root:after {
  content: "";
  display: block;
}

footer, #root:after {
  height: 3em;
}

footer.quizdb-footer {
  background: $secondary-background;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);

  & .footer-item {
    line-height: 2.5em;
  }
}
