.quizdb-md {
  padding-bottom: 3em;

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  li {
    padding: 0.3rem 0rem;
  }

  font-size: 1.2rem;
  line-height: 1.5rem;

  & .anchor {
    margin-top: -4.5rem;
    padding-bottom: 3rem;
  }
}
