@import "./variables.scss";

.question-loader {
  // top padding should come from ::before element of actual loader
  padding-bottom: 5rem;
}

.question-container {
  padding: 0 0 5rem 0;
}

.question {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.question-info-toggle {
  cursor: pointer;
  &:hover {
    color: #2185d0;
  }
}

.question-info-show {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.question-info-skinny {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-info-hide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 3;
  padding: 0 0.7rem;
  cursor: pointer;
}

.ui.segment:first-child.question-info-segment {
  margin: 0.5rem 0.5rem;
}

.ui.segment:last-child.question-info-segment {
  // override semantic's default margin-bottom of 0
  margin-bottom: auto;
}

.ui.segment.question-info {
  padding: 0.5rem;
}

.ui.segment.question-info-segment {
  padding: 0;
  margin: 0.5rem 0.5rem;

}

.ui.label.question-info-label {
  position: relative !important;
  padding: 0.5rem 0.5rem !important;
}

// Add a bunch of selectors to override SemanticUI's precedence
.ui.top.attached.label:first-child + .question-info-text:not(.attached) {
  margin: 0 !important;
  max-width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
  text-align: center;
}

// just copying Semantic's segment group/segment rule
// because otherwise the middle div interferes
.ui.segments > .question-content > .segment {
  top: 0px;
  bottom: 0px;
  border-radius: 0px;
  margin: 0em;
  width: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.segments .question-content {
  & .segment {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

.question-hidden-answer {
  position: fixed;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  color: $primary-background;
  &:focus {
    background: transparent;
    color: $primary-background;
  }
}

.ui.grid > .question-icons {
  padding: 0px 0px 10px 0px !important;
}

.icon-clickable {
  cursor: pointer;
  color: $primary-text-color;
  &:hover {
    color: #2185d0;
  }
}
