.ui.grid .column.search-dropdown-column {
  padding: 0.5rem !important;
}

.ui.segment.search-dropdown {
  padding: 8px;
}

.ui.button.search-search_button {
  // have to override sizes to match search input
  line-height: 1.21428571em;
  // padding-right probably also overwritten by attached property
  padding: 0.67857143em 1em;
  border-right: rgba(34, 36, 38, 0.15);
  border-right-style: solid;
  border-right-width: 1px;
}

.ui.selection.dropdown.search-random_button {
  // have to override sizes to match search input
  // AND colors/borders to match search button
  font-size: 1.42857143rem;
  padding: 0.75em 1em 0.678571em 0.75em;
  min-height: 1em;
  line-height: 1.21428571em;
  min-width: 6.4em;

  border-radius: 0em 0.28571429rem 0.28571429rem 0em;
  border: none;
  border-left: none;
  text-align: left;
  font-weight: bold;
  background: #E0E1E2 none;

  &:hover {
    background-color: #CACBCD;
    & > .text {
      color: rgba(0, 0, 0, 0.8) !important;
    }
  }

  & > .text {
    color: rgba(0, 0, 0, 0.6) !important;
  }
}
